.section-page {
	margin-top: 26px;
	&__img {
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.section-page {
		&__img {
			width: 60%;
		}
	}
}

@media (max-width: 576px) {
	.section-page {
		margin-top: 86px;
	}
}