.spinner {
	display: block;
	margin: 0 auto;

	animation: spinner-motion 3s infinite ease-in-out;
}

@keyframes spinner-motion {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}