@import '../../style/variables';

.go-back-link {
	position: absolute;
	left: 0;
	top: 42px;
	text-decoration: none;

	display: flex;
	gap: 8px;
	align-items: center;

	transition: .5s all;
	&:hover {
		text-shadow: 0px 0px 5px $green;
	}
	&__text {
		color: #000;
		
		font-family: Karla;
		font-size: 18px;
		font-weight: 700;
	}
	&_404 {
		margin-top: 20px;
		position: static;
	}
}

@media (max-width: 1200px) {
	.go-back-link {
		top: -40px;
	}
}